@import "tailwindcss";
@plugin "daisyui"; 
/* Add this in your App.css or global CSS */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
*{
  cursor: none;
}
::selection {
  background:#DF5E04;
  color: black;
}

::-moz-selection {
  background:#DF5E04;
  color: black;
}
